<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AB Cases</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="style.css">
</head>


<body>
  <div id="app">
    <nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
        <div class="container-lg">
            <span class="navbar-brand">AB COVID19 Cases</span>

            <ul class=" navbar-nav ml-auto">
                <li class=" nav-item">
                    <a class="btn btn-social-icon btn-github" href="https://github.com/chhuang215/ABCases" target="_blank"><span class="fa fa-github " aria-hidden="true"></span></a>
                </li>
                <li class=" nav-item">
                    <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/chihhsuanhuang/" target="_blank"><span class="fa fa-linkedin " aria-hidden="true"></span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="loading"  style="width:100%; margin: auto; text-align: center;" v-if="loading">
        <div class="lds-ripple" style="margin: 20px auto">
            <div></div><div></div>
        </div>
    </div>
    <div class="container-lg" v-show="!loading" v-cloak>
        <div class="row">
            <div class="col-md-7 col-sm-8 col-sm-12" style="padding:0">
                <div class="table-responsive-sm">
                    <table id="tblstat" class="table table-borderless">
                        <thead><tr>
                            <th scope="col" class="px-0"></th>
                            <th scope="col" class="px-0">Cases</th>
                            <th scope="col">Death</th>
                        </tr></thead>
                        <tbody>
                            <tr v-for="{zoneName, caseNum, caseDeath, lastAdditionalConfirmed, lastAdditionalDeath} in zone_list">
                                <th scope="row" class="pr-0 pl-1"><h4>{{zoneName}}: </h4></th>
                                <td class="px-0">
                                    <h4>
                                        {{caseNum}}
                                        <span class="diffnum" :class="{hasdiff : (lastAdditionalConfirmed != 0)}">
                                            ({{(lastAdditionalConfirmed > 0 ? '+' : '') + lastAdditionalConfirmed}})</span>
                                    </h4>
                                
                                </td>
                                <td >
                                    <h4>
                                        {{caseDeath}}
                                        <span class="diffnum" :class="{hasdiff: (lastAdditionalDeath != 0)}">
                                            ({{(lastAdditionalDeath > 0 ? '+' : '') + lastAdditionalDeath}})
                                        </span>
                                    </h4>
                                </td>
                                <td class="percentage"> ({{(caseDeath / caseNum * 100).toFixed(1)}}%)</td>
                            </tr>
                            <tr> 
                                <th class="pr-0 pl-1">
                                    <h4 style='font-weight: bold'>ALBERTA Total:</h4>
                                </th> 
                                <td class="px-0">
                                    <h4 style='font-weight: bold'>{{ztotal.totalCases?.toLocaleString('en-US')}}
                                    <span class="diffnum" :class="{hasdiff : ztotal.totalLastAdditional != 0}" >({{(ztotal.totalLastAdditional > 0 ? '+' : "") + ztotal.totalLastAdditional}})</span>
                                    </h4>
                                </td>
                            
                                <td>
                                    <h4 style='font-weight: bold'>{{ztotal.totalDeath?.toLocaleString('en-US')}}
                                    <span class="diffnum" :class="{hasdiff : ztotal.totalLastDeath != 0}">({{(ztotal.totalLastDeath > 0 ? '+' : "") + ztotal.totalLastDeath}})</span>
                                    </h4>
                                </td>
                            
                                <td class="percentage">
                                    ({{(ztotal.totalDeath / ztotal.totalCases * 100).toFixed(1)}}%)
                                </td>
                            </tr>
                            <tr> 
                                <th class="pr-0 pl-1">
                                    <h4 style='font-weight: bold'>Recovered:</h4>
                                </th> 
                                <td class="px-0">
                                    <h4 style='font-weight: bold'>{{ztotal.recovered_total?.toLocaleString('en-US')}}
                                    <span class="diffnum" >({{(ztotal.recovered_day > 0 ? '+' : "") + ztotal.recovered_day}})</span>
                                    </h4>
                                </td>
                            </tr>
                            <tr> 
                                <th class="pr-0 pl-1">
                                    <h4 style='font-weight: bold' >Current Active Cases:</h4>
                                </th> 
                                <td class="px-0">
                                    <h4 style='font-weight: bold'>{{ztotal.totalActiveCases?.toLocaleString('en-US')}}
                                    <span class="diffnum" :class="{hasdiff : ztotal.totalActiveCases - ztotal.totalLastActiveCount > 0}" >({{ztotal.totalActiveCases - ztotal.totalLastActiveCount}})</span>
                                    </h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="svgmap"  style="padding:0; margin-top: 1.5rem;" class="col-md-3 col-sm-12 text-md-start text-center" v-html="svgmaphtml"></div>
        </div>
        <div class="row">
            <div class="col-12" style="height:26rem">
                <canvas id="chartTotal"></canvas>
            </div>
            <div class="col-12" style="height:30rem">
                <canvas id="chartPerday"></canvas>
            </div>
        </div>
        <div class="alert alert-primary" role="alert">
            <a href="https://www.alberta.ca/coronavirus-info-for-albertans.aspx" target="_blank">Information from alberta.ca/covid19 </a>
        </div>
        <div class="alert alert-primary" role="alert">
            <a href="https://www.alberta.ca/covid-19-alberta-data.aspx" target="_blank">Stats now at alberta.ca/covid19statistics</a>
        </div>
        
        <div id="list_cases" v-html="html_daily_cases"></div>
    </div>
    
  </div>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <!-- <script src="axios.min.js"></script> -->
  <script src="vue.min.js"></script>
  <script type="text/javascript" src="script.js"></script>
</body>
</html>